@media (max-width: 768px) {
  .welcome-title {
    font-size: 3rem;
  }

  .welcome-description {
    font-size: 1.6rem;
  }

  .start-btn {
    font-size: 1.8rem;
    padding: 10px 30px;
  }
}

@media (max-width: 425px) {
  .logo-jogo img {
    width: 100px;
  }

  .welcome-title {
    font-size: 2.5rem;
  }

  .welcome-description {
    font-size: 1.4rem;
  }

  .start-btn {
    font-size: 1.6rem;
    padding: 10px 20px;
  }
}
