html {
    font-size: 62.5%;
  }
  
  body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .logo-jogo {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  .logo-jogo img {
    width: 200px;
    transition: transform 0.3s;
  }
  
  .logo-jogo img:hover {
    transform: scale(1.1);
  }
  
  .main {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
  }
  
  .content {
    max-width: 800px;
    padding: 20px;
  }
  
  .welcome-title {
    font-size: 4rem;
    font-family: 'Poppins', serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 20px #ff0000;
  }
  
  .welcome-description {
    font-size: 1.8rem;
    margin-bottom: 40px;
    line-height: 1.6;
    color: #d9d9d9;
  }
  
  .start-btn {
    background-color: #ff0000;
    color: #fff;
    font-size: 2rem;
    font-family: 'Poppins', serif;
    padding: 15px 40px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .start-btn:hover {
    background-color: #d40000;
    transform: translateY(-5px);
  }
  
  .footer {
    position: absolute;
    bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    color: #666;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
